# {{ansible_managed}}
/^mail-.*\.outbound\.protection\.outlook\.com$/
a1.net
alice-dsl.net
alice.de
aol.com
aol.de
aon.at
arcor.de
bbox.fr
bluewin.ch
chello.at
drei.at
email.de
ewe.net
ewetel.net
free.fr
freenet.de
gmail.com
gmx.at
gmx.ch
gmx.com
gmx.de
gmx.eu
gmx.net
googlemail.com
hanmail.net
hermesworld.com
hotmail.com
hotmail.de
hotmail.fr
htp-tel.de
icloud.com
ish.de
kabelbw.de
kabelmail.de
kabsi.at
laposte.net
live.at
live.com
live.de
live.fr
liwest.at
mac.com
mail.de
mail.ru
mailbox.org
me.com
msn.com
naver.com
netcologne.de
neuf.fr
nexgo.de
nord-com.net
o2online.de
ok.de
online.de
onlinehome.de
orange.fr
osnanet.de
outlook.com
outlook.de
post.at
posteo.de
qq.com
rambler.ru
rocketmail.com
rub.de
sbg.at
sfr.fr
sina.com
superkabel.de
t-online.de
tele2.at
tele2.de
teleos-web.de
tmo.at
unitybox.de
utanet.at
versanet.de
vodafone.de
vol.at
wanadoo.fr
web.de
wolfsburg.de
wp.pl
wtnet.de
xsite.de
yahoo.com
yahoo.de
yahoo.fr
yandex.ru
ymail.com